__pycache__/
*.pyc
.ipynb_checkpoints/

data/*
!data/.gitkeep

results/*
!results/.gitkeep

models/*
!models/.gitkeep

reports/*.aux
reports/*.log
reports/*.out
reports/*.toc
reports/*.synctex.gz
reports/*.bbl
reports/*.blg

*.npy
*.npz
*.csv
*.tsv
*.gz
*.zip
*.pkl
*.joblib
*.pt
*.pth
*.ckpt

.DS_Store
.env
.venv/
venv/
